:root {
  --white: #fff;
  --gray-dark: #707070;
  --gray-medium: #888888;
  --gray-light: #00000029;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

p,
input,
span,
input {
  font-size: 100%;
}

button,
input {
  color: var(--gray-dark);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  font-size: 14px;
  color: var(--gray-dark);
  scroll-behavior: smooth;
}

.container {
  max-width: 80rem;
  width: 90%;
  margin: 0 auto;
}

.mail-container {
  margin: 0 auto;
  max-width: 42rem;
  width: 100%;
}

.main-heading {
  padding-bottom: 2rem;
  background: var(--gray-dark);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.main-heading > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 0;
  color: var(--white);
}

.main-heading > div h2,
.main-heading > div h1,
.main-heading > div p {
  width: 100%;
}

.main-heading > div h2 {
  font-weight: 400;
  font-size: 1.25rem;
}

.main-heading > div h1 {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  font-weight: 500;
  font-size: 3rem;
}

.main-heading > div div.links {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  place-items: center;
  width: 100%;
}

.main-heading > div div.links a {
  padding: 0.5rem 0;
  width: 100%;
  color: var(--gray-dark);
  text-align: center;
  background: var(--white);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .main-heading > div h2,
  .main-heading > div h1,
  .main-heading > div p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-heading > div h2 {
    font-size: 1.5rem;
  }
  .main-heading > div h1 {
    font-size: 4rem;
  }
  .main-heading > div div.links {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .main-heading > div div.links a {
    width: 16rem;
  }
}

section.algorithm-form {
  margin: 4rem 0;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

section.algorithm-form div.about h2 {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}

section.algorithm-form div.about p {
  font-size: 0.875rem;
}

section.algorithm-form div.about p:not(:last-child) {
  margin-bottom: 2rem;
}

section.algorithm-form form.form div.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

section.algorithm-form form.form div.input input {
  padding: 0.375rem 0.5rem;
  border: 1px solid var(--gray-light);
  border-radius: 0.125rem;
  outline: none;
  -webkit-transition: -webkit-box-shadow 250ms ease-in-out;
  transition: -webkit-box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
}

section.algorithm-form form.form div.input input:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.125);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.125);
}

section.algorithm-form form.form div.radio-input {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

section.algorithm-form form.form div.radio-input div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

section.algorithm-form form.form button {
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  section.algorithm-form {
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
  }
}

div.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.title h1 {
  font-size: 1.25rem;
}

div.title::before, div.title::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  background: var(--gray-dark);
}

div.title::before {
  margin-right: 1.5rem;
}

div.title::after {
  margin-left: 1.5rem;
}

section.product-list {
  margin-bottom: 4rem;
}

section.product-list div.products {
  margin: 2rem 0 4rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

section.product-list div.products div.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.product-list div.products div.product-card div.product-image {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--gray-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.product-list div.products div.product-card div.product-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 2rem;
}

section.product-list div.products div.product-card div.product-info h2 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

section.product-list div.products div.product-card div.product-info p,
section.product-list div.products div.product-card div.product-info span,
section.product-list div.products div.product-card div.product-info b {
  font-size: 0.9rem;
}

section.product-list div.products div.product-card div.product-info p.description {
  display: none;
  margin-bottom: 1rem;
}

section.product-list div.products div.product-card div.product-info p.price b {
  font-weight: 500;
  font-size: 1.25rem;
}

section.product-list div.products div.product-card div.product-info button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  section.product-list div.products {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  section.product-list div.products div.product-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.product-list div.products div.product-card div.product-info {
    margin-left: 0;
  }
  section.product-list div.products div.product-card div.product-info p.description {
    display: block;
  }
}

@media (min-width: 1024px) {
  section.product-list div.products {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

section.product-list div.load-products {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.product-list div.load-products button {
  max-width: 40rem;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 0.25rem;
}

section.newsletter-form {
  margin-bottom: 4rem;
}

section.newsletter-form > p {
  margin: 2rem 0;
  text-align: center;
}

section.newsletter-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.newsletter-form form div.inputs {
  margin-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

section.newsletter-form form div.inputs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.newsletter-form form div.inputs div input {
  padding: 0.375rem 0.5rem;
  border: 1px solid var(--gray-light);
  border-radius: 0.125rem;
  outline: none;
  -webkit-transition: -webkit-box-shadow 250ms ease-in-out;
  transition: -webkit-box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
}

section.newsletter-form form div.inputs div input:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.125);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.125);
}

section.newsletter-form form button {
  place-self: center;
  max-width: 40rem;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  section.newsletter-form form div.inputs {
    gap: 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  padding: 6rem 0 3rem;
  background: var(--gray-dark);
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  color: var(--white);
}

footer div {
  text-align: center;
}

section.mail {
  margin: 4rem 0;
  padding: 0 1rem;
}

section.mail h1 {
  font-weight: 400;
  font-size: 1.5rem;
}
/*# sourceMappingURL=main.css.map */