@import 'mixins.scss', 'resets.scss';

$shadow-lg: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
$transition: 250ms ease-in-out;

.container {
  max-width: 80rem;
  width: 90%;
  margin: 0 auto;
}

.mail-container {
  margin: 0 auto;
  max-width: 42rem;
  width: 100%;
}

.main-heading {
  padding-bottom: 2rem;

  // Slanted background
  // Refer back to: https://bennettfeely.com/clippy/
  background: var(--gray-dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

  & > div {
    @include flex-center();

    padding: 4rem 0;

    color: var(--white);

    h2,
    h1,
    p {
      width: 100%;
    }

    h2 {
      font-weight: 400;
      font-size: 1.25rem;
    }

    h1 {
      margin-top: 1rem;
      margin-bottom: 1.25rem;

      font-weight: 500;
      font-size: 3rem;
    }

    div.links {
      margin-top: 3rem;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      place-items: center;

      width: 100%;

      a {
        padding: 0.5rem 0;

        width: 100%;

        color: var(--gray-dark);
        text-align: center;

        background: var(--white);

        border-radius: 0.25rem;

        box-shadow: $shadow-lg;
      }
    }

    @media (min-width: 768px) {
      h2,
      h1,
      p {
        width: fit-content;
      }

      h2 {
        font-size: 1.5rem;
      }

      h1 {
        font-size: 4rem;
      }

      div.links {
        grid-template-columns: repeat(4, 1fr);

        a {
          width: 16rem;
        }
      }
    }
  }
}

section.algorithm-form {
  margin: 4rem 0;

  display: grid;
  gap: 2rem;

  div.about {
    h2 {
      margin-bottom: 1rem;
      font-weight: 400;
      font-size: 1.5rem;
    }

    p {
      font-size: 0.875rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  form.form {
    div.input {
      @include flex-col();

      margin-bottom: 1rem;

      input {
        @include base-input();
      }
    }

    div.radio-input {
      margin-bottom: 1rem;

      display: flex;
      gap: 4rem;

      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    button {
      @include base-button();
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 3fr 2fr;
  }
}

div.title {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 1.25rem;
  }

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background: var(--gray-dark);
  }

  &::before {
    margin-right: 1.5rem;
  }

  &::after {
    margin-left: 1.5rem;
  }
}

section.product-list {
  margin-bottom: 4rem;

  div.products {
    margin: 2rem 0 4rem;

    display: grid;
    gap: 2rem;

    div.product-card {
      display: flex;

      div.product-image {
        margin-bottom: 1rem;
        padding: 1rem;

        border: 1px solid var(--gray-light);

        display: flex;
        align-items: center;
        justify-content: center;
      }

      div.product-info {
        flex: 1;
        align-self: center;
        margin-left: 2rem;

        h2 {
          margin-bottom: 1rem;

          font-size: 1rem;
          font-weight: 400;
        }

        p,
        span,
        b {
          font-size: 0.9rem;
        }

        p.description {
          display: none;
          margin-bottom: 1rem;
        }

        p.price {
          b {
            font-weight: 500;
            font-size: 1.25rem;
          }
        }

        button {
          margin-top: 1rem;
          @include base-button();
        }
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);

      div.product-card {
        flex-direction: column;

        div.product-info {
          margin-left: 0;

          p.description {
            display: block;
          }
        }
      }
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  div.load-products {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    button {
      max-width: 40rem;

      @include base-button();
    }
  }
}

section.newsletter-form {
  margin-bottom: 4rem;

  > p {
    margin: 2rem 0;
    text-align: center;
  }

  form {
    @include flex-col();

    div.inputs {
      margin-bottom: 2rem;

      display: grid;
      gap: 1rem;

      div {
        @include flex-col();

        input {
          @include base-input();
        }
      }
    }

    button {
      place-self: center;

      max-width: 40rem;

      @include base-button();
    }

    @media (min-width: 768px) {
      div.inputs {
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

footer {
  padding: 6rem 0 3rem;

  background: var(--gray-dark);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);

  color: var(--white);

  div {
    text-align: center;
  }
}

section.mail {
  margin: 4rem 0;
  padding: 0 1rem;

  h1 {
    font-weight: 400;
    font-size: 1.5rem;
  }
}
